.buttons-body {
  width: 540px;
  height: 480px;
  padding: 32px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: repeat(4, 101px);
  row-gap: 24px;
  column-gap: 25px;
}

.buttons-body--theme1 {
  background: #242d44;
  transition: all 0.4s;
}

.buttons-body--theme2 {
  background: #d2cdcd;
  transition: all 0.4s;
}

.buttons-body--theme3 {
  background: #1e0936;
  transition: all 0.4s;
}
