.header {
  display: flex;
  width: 53.3rem;
  height: 4.4rem;
  justify-content: space-between;
}

.main-header {
  font-size: 3.2rem;
  align-self: end;
  letter-spacing: -0.053rem;
}

.main-header--theme1 {
  color: #ffffff;
  transition: all 0.4s;
}

.main-header--theme2 {
  color: #36362c;
  transition: all 0.4s;
}

.main-header--theme3 {
  color: #ffe53d;
  transition: all 0.4s;
}

.theme {
  margin-left: auto;
  margin-right: 2.6rem;
  margin-top: 1.6rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  align-self: center;
  letter-spacing: 0.1rem;
}

.theme--theme1 {
  color: #ffffff;
  transition: all 0.4s;
}

.theme--theme2 {
  color: #36362c;
  transition: all 0.4s;
}

.theme--theme3 {
  color: #ffe53d;
  transition: all 0.4s;
}

.theme-container {
  width: 7.1rem;
  height: 4.4rem;
}

.numbers {
  width: 100%;
  font-size: 1.2rem;
  padding: 0 0.7rem;
  word-spacing: 1rem;
  text-align: center;
  margin-bottom: 0.5rem;
}

.numbers--theme1 {
  color: #ffffff;
  transition: all 0.4s;
}

.numbers--theme2 {
  color: #36362c;
  transition: all 0.4s;
}

.numbers--theme3 {
  color: #ffe53d;
  transition: all 0.4s;
}

.button-theme-switcher-container {
  border-radius: 1.3rem;
  width: 7.1rem;
  height: 2.6rem;
  padding: 0.5rem;
}

.button-theme-switcher-container--theme1 {
  background: #242d44;
  transition: all 0.4s;
}

.button-theme-switcher-container--theme2 {
  background: #d2cdcd;
  transition: all 0.4s;
}

.button-theme-switcher-container--theme3 {
  background: #1e0936;
  transition: all 0.4s;
}

.button-theme-switcher {
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button-theme-switcher--theme1 {
  background: #d03f2f;
  transform: translateX(0rem);
  transition: all 0.4s;
}

.button-theme-switcher--theme2 {
  background: #c85402;
  transform: translateX(2.1rem);
  transition: all 0.4s;
}

.button-theme-switcher--theme3 {
  background: #00ded0;
  transform: translateX(4.2rem);
  transition: all 0.4s;
}

.button-theme-switcher--theme1:hover {
  background: #f96b5b;
}

.button-theme-switcher--theme2:hover {
  background: #ff8a38;
}

.button-theme-switcher--theme3:hover {
  background: #93fff8;
}

@media only screen and (max-width: 600px) {
  .header {
    width: 32rem;
    height: 4.2rem;
  }
}
