.App {
  background: #3a4663;
  width: 100%;
  height: 100vh;
  font-family: "League Spartan", sans-serif;
}

.calculator-body {
  padding: 96px 0px; /* Trenutno, posle zameniti */
  display: flex;
  justify-content: center;
}
