.App {
  min-width: 100%;
  min-height: 100vh;
  font-family: "League Spartan", sans-serif;
}

.App--theme1 {
  background: #3a4663;
  transition: 0.4s;
}

.App--theme2 {
  background: #f2f2f2;
  transition: 0.4s;
}

.App--theme3 {
  background: #17062a;
  transition: 0.4s;
}

.calculator-body {
  padding: 9.6rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reset {
  grid-column: 1/3;
}

.equal {
  grid-column: 3/5;
}

.buttons-numbers-and-operations--theme1 {
  background: #eae3dc;
  color: #434a59;
  box-shadow: inset 0rem -0.4rem 0rem #b3a497;
  transition: all 0.4s;
}

.buttons-del-and-reset--theme1 {
  background: #647198;
  color: #ffffff;
  box-shadow: inset 0rem -0.4rem 0rem #414e73;
  transition: all 0.4s;
}

.buttons-equal--theme1 {
  background: #d03f2f;
  color: #ffffff;
  box-shadow: inset 0rem -0.4rem 0rem #93261a;
  transition: all 0.4s;
}

.buttons-del-and-reset--theme1:hover {
  background: #a2b2e1;
}

.buttons-equal--theme1:hover {
  background: #f96b5b;
}

.buttons-numbers-and-operations--theme2 {
  background: #e5e4e1;
  box-shadow: inset 0rem -0.4rem 0rem #a79e91;
  color: #36362c;
  transition: all 0.4s;
}

.buttons-del-and-reset--theme2 {
  background: #378187;
  color: #ffffff;
  box-shadow: inset 0rem -0.4rem 0rem #1b6066;
  transition: all 0.4s;
}

.buttons-equal--theme2 {
  background: #c85402;
  color: #ffffff;
  box-shadow: inset 0rem -0.4rem 0rem #873901;
  transition: all 0.4s;
}

.buttons-del-and-reset--theme2:hover {
  background: #62b5bc;
}

.buttons-equal--theme2:hover {
  background: #ff8a38;
}

.buttons-numbers-and-operations--theme3 {
  background: #331c4d;
  box-shadow: inset 0rem -0.4rem 0rem #881c9e;
  color: #ffe53d;
  transition: all 0.4s;
}

.buttons-del-and-reset--theme3 {
  background: #56077c;
  box-shadow: inset 0rem -0.4rem 0rem #be15f4;
  color: #ffffff;
  transition: all 0.4s;
}

.buttons-equal--theme3 {
  background: #00ded0;
  box-shadow: inset 0rem -0.4rem 0rem #6cf9f1;
  color: #1a2327;
  transition: all 0.4s;
}

.buttons-del-and-reset--theme3:hover {
  background: #8631af;
}

.buttons-equal--theme3:hover {
  background: #93fff8;
}

.buttons-numbers-and-operations--theme3:hover {
  background: #6c34ac;
}

@media only screen and (max-width: 600px) {
  .calculator-body {
    padding: 3rem 2rem;
  }
}
