.buttons {
  font-size: 4rem;
  font-family: "League Spartan", sans-serif;
  text-align: center;
  border-radius: 1rem;

  border: none;
  cursor: pointer;
}

.buttons:active {
  transform: translateY(0.2rem);
}

@media only screen and (max-width: 600px) {
  .buttons {
    font-size: 2rem;
  }
}
